<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enterprises</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Предприятия</h1>
        <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Город</th>
                <th>Название</th>
                <th>Дополнительно</th>
            </tr>
            <tr th:each="enterprise : ${enterprises}">
                <td th:text="${enterprise.getId()}"/>
                <td th:text="${enterprise.getCity()}"/>
                <td th:text="${enterprise.getName()}"/>
                <td>
                    <div class="button-container">
                        <a th:href="@{'/vehicles?enterpriseId=' + ${enterprise.getId()}}" class="btn btn-primary" role="button">Автомобили</a>
                        <a th:href="@{'/drivers?enterpriseId=' + ${enterprise.getId()}}" class="btn btn-primary" role="button">Водители</a>
                    </div>
            </tr>
        </table>
    </div>
</body>
</html>