<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>models</title>
</head>
<body>
<h1>Модели автомобилей</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Тип</th>
        <th>Объём бака</th>
        <th>Грузоподъёмность</th>
        <th>Количество сидений</th>
    </tr>
    <tr th:each="model : ${vehicleModels}">
        <td th:text="${model.getId()}"/>
        <td th:text="${model.getBrandName()}"/>
        <td th:text="${model.getModelName()}"/>
        <td th:text="${model.getType()}"/>
        <td th:text="${model.getFuelTankCapacity()}"/>
        <td th:text="${model.getLoadCapacityKg()}"/>
        <td th:text="${model.getSeatsNumber()}"/>
    </tr>
</table>
</body>
</html>