<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vehicles</title>
</head>
<body>
<h1>Список автомобилей</h1>

<a th:href="@{/vehicles/new}">Добавить новый автомобиль</a>
<br>
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Марка и модель</th>
        <th>Гос. номер</th>
        <th>Пробег (км)</th>
        <th>Год выпуска</th>
        <th>Цвет</th>
        <th>Цена покупки</th>
    </tr>
    <tr th:each="vehicle : ${vehicles}">
        <td th:text="${vehicle.getId()}"/>
        <td th:text="${vehicle.getModel().getBrandName() + ' ' + vehicle.getModel().getModelName()}"/>
        <td th:text="${vehicle.getLicensePlateNumber()}"/>
        <td th:text="${vehicle.getMileageKm()}"/>
        <td th:text="${vehicle.getProductionYear()}"/>
        <td th:text="${vehicle.getColor()}"/>
        <td th:text="${vehicle.getPurchasePriceRub()}"/>

        <td><a th:href="@{/vehicles/edit/{id}(id=${vehicle.getId()})}">Edit</a></td>
        <td><a th:href="@{/vehicles/delete/{id}(id=${vehicle.getId()})}">Delete</a></td>
    </tr>
</table>
</body>
</html>